# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Logs
*.log

# Model cache (VERY IMPORTANT - avoid pushing huge files)
.cache/
huggingface/
transformers/

# Temporary files
*.tmp
*.temp

# Jupyter (if used later)
.ipynb_checkpoints/

# Zip files
*.zip